<h2>Please enter the question and answer below to create QA</h2>
<br>
<br>
<form action="/admin/create" method="post">
    <div class="row">
        <h4>Question 1</h4>
        <div class="col-6 col-md-4">
            <input type="text" class="form-control" name="q1" placeholder="Enter question here">
            <input type="text" class="form-control" name="a1" placeholder="Enter answer here">
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <h4>Question 2</h4>
        <div class="col-6 col-md-4">
            <input type="text" class="form-control" name="q2" placeholder="Enter question here">
            <input type="text" class="form-control" name="a2" placeholder="Enter answer here">
        </div>
    </div>
    <br>
    <br>
    <br>
    <button type="submit" class="btn btn-warning">Create</button>
</form>