<h2>Update QA</h2>
<br>
<br>
<h5>Below is the current QA list. Update new one by filling the field.</h5>
<br>
<form action="/admin/update" method="post">
    {{# each questions }}
    <div class="row">
        <div class="col-6 col-md-4">
            <label>Question</label>
            <input type="text" class="form-control" name="q_{{this._id}}" value="{{this.question}}" placeholder="Enter question here">
            <label>Answer</label>
            <input type="text" class="form-control" name="a_{{this._id}}" value="{{this.answer}}" placeholder="Enter answer here">
        </div>
    </div>
    <br>
    <br> {{/each}}
    <br>
    <br>
    <button type="submit" class="btn btn-warning">Update</button>
</form>