<h2>Updated Successfully</h2>

{{# each questions }}
<div class="row">
    <div class="col-6 col-md-4">
        <label>Question: {{this.question}}</label>
        <br/>
        <label>Answer: {{this.answer}}</label>
    </div>
</div>
<br>
<br> {{/each}}